# Builds
dist
package

# IDE
.idea

# macOS files
.DS_Store

# Node files
node_modules
npm-debug.log
package-lock.json
yarn.lock
yarn-error.log

# Webpack logs
webpack-stats.json

# Tarball files
*.tgz

# Test
.nyc_output
coverage
