# Builds
dist
package*

# Configs
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.nycrc
.stylelintrc

# macOS files
.DS_Store

# Npm & Yarn files
npm-debug.log
package-lock.json
yarn-error.log
yarn.lock

# Project files
public
src

# Webpack files
index.js
postcss.config.js
server.js
webpack.config*
webpack-stats.json

# Tarball files
*.tgz

# Test
.nyc_output
coverage
setupTests.js
