.demo-wrapper {
  h1 {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
  }

  h4 {
    font-size: 15px;
    text-align: center;
    color: #333;
  }

  p {
    display: block;
    padding: 10px;
    font-family: 'Roboto-Regular';
    font-size: 11px;
    background: #ebebeb;
    text-align: center;
  }

  .text-bold {
    font-weight: 600;
  }

  .options-wrapper {
    display: inline-block;
  }

  .btn-group {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ebebeb;
    background: #ebebeb;
    border-radius: 5px;
  }

  button {
    display: block;
    margin: 10px auto 0;
    padding: 5px 18px;
    background: 0;
    border: 1px solid #77b6ff;
    border-radius: 3px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    user-select: none;

    &.active {
      background: rgb(35, 155, 24);
      border: 1px solid rgb(35, 155, 24);
      color: #fff;

      &:hover {
        background: rgb(70, 156, 62);
        border: 1px solid rgb(70, 156, 62);
        color: #fff;
      }
    }

    &:hover {
      background: #77b6ff;
      color: #fff;
    }
  }
}
